<html>
<body>
<h1> hi Hello World.. We are alive </h1>
<h2>Hello Welcome to my company name oldage <%= node["company"] %> </h2>
<p> Welcome...<%= node["fqdn"]%> </p>
<!-- <p> We have total of <%= node["memory"]["total"].to_i/1024 %> Mbytes in our system </p> -->
<p> This is Edited version 0.2.0 for checking with Environments on chef server</p>
</body>
</html>

